.movie-view-column {
    display: inline-block;
    width: 33%;
    img {
            transition: transform .5s;
        }
    }
        
        img:hover {
        transform: scale(.2);
}


// // .movie-view {
// //     display: inline-block;
// //     font-size: 20px;
// // }

// .movie-poster {
//     width: fit-content;
//     border:2px solid black;
//     box-shadow: 10px 5px rgb(218, 218, 218);
// img {
//     transition: transform .5s;
// }

// img:hover {
//   transform: scale(1.2);
// }
// }

// .label, .value {
//     position: relative;
// }
