@import url('https://fonts.googleapis.com/css2?family=EB+Garamond&display=swap');

body{
    font-family: 'Times New Roman', Times, serif;
}

.form-container{
    display: flex;
    margin-top: 5rem;
    flex-direction: column;
    justify-content: center;
}